

p
{
    font-size: small;
}

h4
{
    background: #f4dda5;
    padding: 5px 10px;
    margin :0px;
}

p.song
{
    background : #eae5e3;
    padding: 5px 20px;
    margin :0px;
}

div.buttonDiv
{
    width:200px;
    height:100px;
    margin:0 auto 0 auto;

}

button
{
    width:200px;
    height:50px;
    margin:auto;
}
